*{
  margin:0;
  background-color:#fffff;
  color:#D4D4D8;  
}
p,h1{
  padding-bottom:10px;

}
p{
  color:#18181B;
}
h1{
  color:#FFFFFF;
    margin-top:10px;
 
}

#col{
  display:grid;
  grid-template-columns: 50% 50%;
  grip-gap:10px;
  margin:20px;
  padding:20px;
}
.lists{
  color:#52525A;
  list-style:none;
  padding-left:0px;
}
.fa-star{
   color:#4CA154;
}
.fa-check{
  margin:3.5px;
  background-color:#4CA154;
  border-radius:50%;
}
.sta{
  background-color:#F5C044;
  border-radius:50%;
  padding:5px;
  color:#52525A;

  
}
.rows{
  display:flex;
  flex-direction:rows;
}
.col2{
 display:grid;
  grid-template-columns:60% 90%;
 
  margin:10px;

  box-radius:4px;
  box-shadow:20px;
}
.mi{
   background-color:#FAFAF9;
  padding:20px;
  
}
.col3{
   display:grid;
  grid-template-columns:70% 30%;
  box-radius:4px;
  box-shadow:20px;
  margin:10px;
}
@media only screen and (max-width: 600px) {
.col{
  display:flex;
  flex-direction:rows;
  justify-content:center;
  align-items:center;
  

  
}
